body {
  background-color: #f7f7f7;
}

.App {
  position: relative;
  left: 35vw;
  top: 30vh;
  min-width: fit-content;
  width: 40vw;
  height: 30vh;
  min-height: 200px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px black;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App > * {
  margin: 1rem;
}

.App h1 {
  margin-left: 8rem;
}

.App .usrAvatar {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 20%;
  width: 30%;
  height: auto;
}
