body {
  background-color: #f7f7f7;
}

.App {
  position: absolute;
  left: 35vw;
  top: 30vh;
  width: auto;
  min-width: fit-content;
  height: auto;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px black;
  text-align: center;
}

.App > * {
  margin: 2rem;
  padding: 1rem;
}